.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/WhatsApp\ Image\ 2022-10-07\ at\ 12.43.45\ AM.jpeg);
    background-repeat: no-repeat;
    background-position: 50%;
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', cursive, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}
.span{
    letter-spacing: 1.5px;
    margin:0;
}